.container {
	margin-top: 5em;
	text-align: center;
}

.subTitle {
	font-size: 1.25rem;
	font-weight: 600;
	color: rgb(92, 148, 200);
}

.title {
	margin-top: -0.2em;
	color: rgb(27, 39, 56);
	font-size: 1.875rem;
	line-height: 1.4;
	font-weight: 700;
}

.paragraph {
	color: rgb(113, 119, 128);
	font-size: 0.875rem;
}

.btnContainer {
	& > a {
		& > .btn {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 0.875rem;
			padding: 1.5em 2em;
			background-color: hsla(191, 75%, 47%);
			transition: all 0.2s ease-in-out;
		}
		& > .btn:hover {
			background-color: hsla(191, 75%, 40%);
			transform: scale(0.97);
		}
	}
	padding-bottom: 1.5em;
}

@media screen and (min-width: 48em) {
	.title {
		font-size: 3.125rem;
	}
}

@media screen and (min-width: 61em) {
	.container {
		margin: 5em 5em 0 5em;
	}

	.title {
		font-size: 4.375rem;
	}
	.paragraph {
		font-size: 1rem;
	}
	.btnContainer {
		& > a {
			& > .btn {
				padding: 1.5em 8em;
			}
		}
	}
}

@media screen and (min-width: 70em) {
	.container {
		margin-left: 12em;
		margin-right: 12em;
	}

	.subTitle {
		font-size: 1.5rem;
	}
}
