.container {
	margin-top: 8em;
	text-align: center;
	& > h2 {
		font-weight: 700;
	}
}

.innerContainer {
	display: inline-block;
}

.pLangContainer {
	background-color: white;
	border-radius: 8px;
	padding: 2em;
	margin-top: 2.5em;
}
.pLangImg {
	height: 90px;
	width: 120px;
}

.infoContainer {
	border-left: 2px solid hsl(209, 50%, 57%);

	text-align: start;
	padding-left: 1em;

	margin-top: 1.5em;
	font-size: 0.875em;
	color: #717780;
	line-height: 1.8;
}

@media screen and (min-width: 48em) {
	.container {
		& > h2 {
			font-size: 1.875rem;
		}
	}

	.innerContainer,
	.optionInfoContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.5em;
	}
}

@media screen and (min-width: 61em) {
	.innerContainer {
		margin: 0 5em;
	}
	.pLangContainer {
		padding: 1.5em;
	}

	.pLangImg {
		height: 80px;
		width: 100px;
	}
}
