.container {
	margin: 0 -2em 0 -2em;
	background-color: #d6ebff;
	padding-bottom: 0.5em;
}

.innerContainer {
	margin: 4em 2em 5em 2em;
	padding-top: 2.5em;
}

.subTitle {
	font-weight: 600;
	font-size: 0.875rem;
	text-transform: capitalize;
}

.title {
	font-size: 1.5rem;
	text-transform: capitalize;
}

.paragraph {
	font-size: 0.875rem;
	line-height: 2;
	letter-spacing: 0.04em;
}

.btnContainer {
	& > a {
		& > .btn {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 0.875rem;
			padding: 1.5em 2em;
			background-color: hsla(191, 75%, 47%, 0.8);
			transition: all 0.2s ease-in-out;
		}
		& > .btn:hover {
			background-color: hsla(191, 75%, 40%, 0.8);
			transform: scale(0.97);
		}
	}
	padding-bottom: 1.5em;
}

.gridContainer {
	& > .gridImg {
		display: none;
	}
}

.newItemCard {
	background-color: white;
	margin-top: 1.5em;
	padding: 0.5em 1.5em;
	border-radius: 8px;
	& > .newLabel {
		width: fit-content;
		font-weight: 700;
		background-color: #ffc267;
		padding: 0 0.6em;
		font-size: 0.8rem;
		text-transform: uppercase;
	}
}
@media screen and (min-width: 48em) {
	.gridContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4em;
		& > .gridheader {
			grid-column: 1 / span 2;
		}

		& > .gridImg {
			display: grid;
		}
	}

	.newItemCard {
		display: flex;
		align-items: center;
		& > .link {
			margin-left: 1em;
		}
	}

	.featureItemGrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em 4em;
	}
}
