.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	justify-content: center;
	border-top: 1px solid hsla(0, 0%, 100%, 0.7);
	padding-top: 1.5em;
	align-items: center;
	& > p {
		color: hsla(0, 0%, 100%, 0.7);
		font-size: 0.875rem;
	}
}

.socialIconsContainer {
	& > a {
		padding-right: 1em;
	}
}
