.container {
	padding-bottom: 0.5em;
	background-color: rgb(30, 180, 212);
	margin: 0 -2em 0 -2em;
}

.innerContainer {
	margin: 0 2em 5em 2em;

	padding-top: 2.5em;
}

.footerItemsContainer {
	display: flex;
	flex-wrap: wrap;
}
