.container {
	display: flex;
	flex-direction: column;
	padding: 1em 3em;
	& > h3 {
		color: hsl(0, 0%, 100%);
		font-size: 1rem;
		font-weight: 700;
	}
	& > .item {
		color: hsl(0, 0%, 94%);
		font-size: 0.8rem;
		padding-top: 1em;
		text-transform: capitalize;
	}
	& > .item:hover {
		color: hsl(0, 0%, 100%);
	}
}
