.container {
	text-align: center;
}

.storiesContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 6em;
}

.companyIcon {
	width: 80px;
	height: 35px;
}

.linkWrapper {
	margin-top: 2em;
}

@media screen and (min-width: 48em) {
	.companyIcon {
		width: 100px;
		height: 60px;
		// padding-top: 1em;
		margin-bottom: 1.5em;
		margin-right: 0.5em;
	}
}

@media screen and (min-width: 61em) {
	.container {
		margin: 0 5em;
	}
}

@media screen and (min-width: 70em) {
	.storiesContainer {
		margin: 6em 12em 0 12em;
	}
}
