.container {
	text-align: center;
}

.storiesContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 2.5em;
}

.companyIcon {
	width: 80px;
	height: 35px;
}

.linkWrapper {
	margin-top: 2em;
}
